:root{
    --white: hsl(0, 0%, 100%);
    --lgrey: hsl(212, 45%, 89%);
    --gra-blue:hsl(220, 15%, 55%);
    --dk-blue: hsl(218, 44%, 22%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--lgrey);
    display: flex;
    min-height: 100vh;
    text-align: center;
    align-items: center;
}

.container{
    max-width: 340px;
    margin: 0px auto;
}
.card{
    background-color: var(--white);
    border-radius: 17px;
    margin: 0 1em;
    
}
.img-qr{
    padding: 15px;
}
.img-qr img{
    border-radius: 20px;
    width: 100%;
}
.bt-text{
    padding: 2px 10px;
}
h1{
    font-weight: 700;
    font-size: 25px;
    color: var(--dk-blue);
}
p{
    color: var(--gra-blue);
    font-size: 15px;
    font-weight: 400;
    padding: 15px;
}

.attribution { font-size: 11px; text-align: center; margin: 15px 0;}
.attribution a { color: hsl(228, 45%, 44%); }

